<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Message</title> 
    <link rel="stylesheet" href="/static/secmesg.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Rubik+Bubbles&display=swap" rel="stylesheet">


</head>

<body>
  <div class="page-container">
      <h1>Leave a Secret Message</h1>
      <form action="/submit" method="post" class="message-send-form">
          <textarea name="message" placeholder="Type your secret here..."></textarea>
          <button type="submit">Send to DGS</button>
      </form>
  </div>
</body>
</html>
