<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message List</title>
    <link rel="stylesheet" href="/static/secmesg.css">
</head>
<body>
    <div class="page-container">
        <h1>All Messages</h1>
        <div class="message-list">
            {% for msg in secret_messages %}
                <div class="message">
                    <time>{{ msg.timestamp }}</time>
                    <div class="message-content">{{ msg.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
